<h1 id='info'>Please Choose an Option Below</h1>
<a href='/data/'><button id='setup'>Setup Data and Find New Streams</button></a>
<a href='/url/'><button id='random'>View Random Live Stream</button></a>
<a href='/favorites/'><button id='favorite'>View Favorite Live Stream</button></a>

<body style='background-color: white;'>
</body>

<style>
#info {
  font-size: 3em;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#setup {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#setup:hover {
  background-color: #008CBA;
  color: white;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#random {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#random:hover {
  background-color: #008CBA;
  color: white;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#favorite {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#favorite:hover {
  background-color: #008CBA;
  color: white;
  font-size: 3em;
  border: 7px solid #008CBA;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
